body {
  background-color: rgb(218, 113, 99);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.component {
  margin: 10px;
  height: 700px;
  overflow: scroll;
}

#favList {
  list-style: none;
}

.button {
  background-color: transparent;
  border: none;
  font-size: 200%;
  cursor: pointer;
}




